@model HelloDependencyInjection.Models.EmailContentViewModel

@{
    ViewBag.Title = "Home Page";
}

<div>@Model.DateTime</div><br />

@using (Html.BeginForm())
{
<div class="input-group">
    <span class="input-group-addon">@Html.LabelFor(model => model.From)</span>
    @Html.TextBoxFor(m => m.From, new { @class = "form-control" })
</div>

<div class="input-group">
    <span class="input-group-addon">@Html.LabelFor(model => model.To)</span>
    @Html.TextBoxFor(m => m.To, new { @class = "form-control" })
</div>

<div class="input-group">
    <span class="input-group-addon">@Html.LabelFor(model => model.Subject)</span>
    @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
</div>

<div class="input-group">
    <span class="input-group-addon">@Html.LabelFor(model => model.Content)</span>
    @Html.TextAreaFor(m => m.Content, new { @class = "form-control" })
</div>

<input type="submit" value="Send" />
}